.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    /* font-size: 12px; */
}

body{
    background: rgb(0, 195, 255);
}

header{
    height: 70px;
    width : 100%;
    background: #666;
}


nav{
    height: 100%;
}

h1{
    text-align: center;
    font-size : 3.2em;
}

section{
    height    : 10vh;
    width     : 100%;
    background: rgb(0, 195, 255);
    font-size : 12px;
}

p{
    font-size  : 1.6em;
    line-height: 1.5;
}

footer{
    height: 70px;
    width : 100%;
    background: #666;
}

